{% extends '_layout' %}

{% block content %}
	{% set product = entry %}

	<section id="products" class="entry">
		<div class="product-hero">
			<div class="container">
				<div class="row">
					<div class="image col-sm-12 col-md-5 col-lg-5">
						<img src="{{ product.productImage.first().url }}" alt="">
					</div>
					
					<div class="text col-sm-12 col-md-7 col-lg-7">
						<div class="vertical-center">
							<h2 class="product-title">
								{{ product.productName }}
							</h2>
							
							<p class="product-type text-tertiary">
								{{ product.productType }}
							</p>
							
							<p class="product-description">
								{{ product.productDescription }}
							</p>
							
							<div class="product-price">
								<div class="price-tag">
									<span class="price text-large">{{ product.productPrice }}</span>
									<span class="litres text-tertiary text-uppercase">{{ product.productBottleSize }}</span>	
								</div>
								<div class="price-info">
									{{ product.productAdditionalInformation }}
								</div>
							</div>

							<div class="product-buy-button">
								{{ product.productShopifyBuyButton|raw }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="product-facts">
			<div class="container">
				<div class="row">
					{% for productFact in product.productFacts %}
						{% if productFact.type == 'productFact' %}
							<div class="fact col-sm-6 col-md-4 col-lg-4">
								<small class="title text-secondary">{{ productFact.factHeading }}</small>
								<p class="content text-primary">{{ productFact.factText }}</p>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		{% for block in product.productInformation %}
			{% if block.type == "textBlockWithImage" %}

				{% if block.position == 'left' %}
					<div class="text-image-block">
				{% else %}
					<div class="text-image-block text-image-block--reverse">
				{% endif %}

					<div class="container">
						<div class="row">
							<div class="image-block col-sm-12 col-md-7 col-lg-7">
								<img src="{{ block.image.first().url }}" alt="">
							</div>
							<div class="text-block col-sm-12 col-md-5 col-lg-5">
								<h4 class="title">
									{{ block.heading }}
								</h4>
								<div class="text">
									{{ block.text }}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</section>
{% endblock %}