{% extends '_layout' %}

{% block content %}
	<section id="products" class="index">
		<div class="container">
			
			{% for category in craft.categories.group('productCategory') %}	
			
				<div class="category">
					
					<div class="title row">
						<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
							<h2>{{ category.title }}</h2>
							<p>{{ category.categoryDescription }}</p>
						</div>
					</div>
					
					{% set i = 0 %}
					{% for product in craft.entries.section('products').relatedTo(category).find() %}
						
						<a href="{{ product.url }}">
							{% if i is divisible by(2) %}
								<div class="product-card product-card--product-right row">
							{% else %}
								<div class="product-card product-card--product-left row">
							{% endif %}

								<div class="product-card__background-image" style="background-image: url('{{ product.productBackgroundImage.first().url }}');"></div>

								<div class="product-card__product-image col-sm-12 col-md-4 col-lg-4" style="background-image: url('{{ product.productImage.first().url }}');">
								</div>

								<div class="product-card__content col-sm-12 col-md-8 col-lg-8">
									<h2 class="product__title">
										{{ product.productName }}
									</h2>
									
									<p class="product__type text-tertiary">
										{{ product.productType }}
									</p>
									
									<p class="product__description">
										{{ product.productTeaserDescription }}
									</p>
									
									<div class="product__price">
										<div class="product__price__value">
											<span class="text-large">{{ product.productPrice }}</span>
										</div>
										<div class="product__price__information">
											<span class="product__price__bottleSize text-tertiary text-uppercase">
												{{ product.productBottleSize }}
											</span>
											<span class="product__price__perLitre  text-small text-tertiary">
												{{ product.productPricePerLitre }}
											</span>
										</div>
									</div>

									<span class="product__button btn btn-primary">Mehr Informationen</span>

								</div>
							</div>
						</a>

						{% set i = i + 1 %}
					{% endfor %}
				</div>
			{% endfor %}

		</div>
	</section>

	{% include 'layout/banner' with {'slug': 'tastings-banner'} %}

{% endblock %}