.banner{
	@include padding(48px 0, 64px 0, 96px 0);
	text-align: center;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	h2{
		@include padding-bottom(16px, 24px, 32px);
		color: white;
	}

	p {
		@include padding-bottom(16px, 24px, 32px);
		color: white;	
	}
	
	[class*='col-'] {
		padding: 0;
	}	

}

#tastingsBanner.banner{

}
