footer{
	@include padding(32px 0, 48px 0, 64px 0);
	background-color: rgba(0,0,0,0.87);
	color: white;

	@include small {
		.link-list{
			margin: 16px 0;
		}
	}

	@include medium-and-large {
		font-size: 16px;
	}


	strong.title{
		display: block;
		margin-bottom: 8px;
	}

	a{
		margin-bottom: 6px;
		&:hover{
			text-decoration: underline;
		}
	}

}