form {
	text-align: left;

	input, textarea{
		padding: 16px 24px;
		background-color: #f2f2f2;
		border: none;
		@include small {
			font-size: 16px;
		}
			
		@include medium-and-large {
			font-size: 18px;
		}
	}
	input[type="text"], input[type="email"] {
		-webkit-appearance: none;
		width: 100%;
	}

	input[type="submit"] {
		-webkit-appearance: none;
		background-color: rgba(0,0,0,0.87);
		color: white;
		cursor: pointer;
		
		@include small {
			width: 100%;
		}

		&:hover{
			text-decoration: underline;
		}
	}
}