body{
	@include padding-top(59px, 66px, 66px);
}

header{
	position: fixed;
	top: 0;
	z-index: 100;
	@include height(60px, 64px, 66px);
	width: 100%;
	
	
	nav.topnav{
		background-color: white;
		@include padding(8px 0, 16px 0, 16px 0);
		width: 100%;

		a{
			padding: 8px 16px;
			color: $font-color-secondary;
			&:hover{
				color: $font-color-primary;
			}
		}
		
		.nav__logo a {
			padding: 0;
		}
		.nav__logo img{
			height: 40px;
		}

		@include small {
			position: relative;
			text-align: center;

			.nav__icon {
				position: absolute;
				left: 8px;
				display: inline-block;
				margin-top: 6px;
			}
			.nav__logo {
				display: inline-block;
			}
			.nav__item {
				padding-top: 16px;
				display: none;
			}

			&.topnav--open{
				.nav__item{
					display: block;
				}
			}
			
		}

		@include medium-and-large {
			text-align: right;

			.nav__icon {
				display: none;
			}
			.nav__logo {
				float: left;
			}
			.nav__item {
				display: inline-block;
			}
		}
	}
}