section#newsletter{
	@include padding(48px 0 64px 0, 64px 0 80px 0, 64px 0 80px 0);
	background: white;
	text-align: center;

	h2{
		@include large {font-size: 30px;}
		margin-bottom: 16px;
	}
	form {
		@include margin-top(32px, 48px, 48px);
	}

	[class*='col-'] {
		padding: 0;
	}
}