.product-card {
	position: relative;
	@include margin-bottom(32px, 48px, 64px);

	&.product-card--product-right {
		@include padding-left(0, 24px, 32px);

		[class*=col-] {
			float: right;
		}
	}

	&.product-card--product-left {
		@include padding-right(0, 24px, 32px);
	}

	.product-card__background-image {
		position: absolute;
		left: 0; right: 0;
		z-index: 1;

		@include height(200px, 360px, 440px);
		@include margin-top(16px, 24px, 32px);

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.product-card__product-image{
		@include height(232px, 408px, 504px);
		position: relative;
		z-index: 3;

		background-size: contain;
		background-repeat: no-repeat;
		@include small {background-position: 80%}
		@include medium-and-large {background-position: center bottom;}
	}

	.product-card__content{
		position: relative;
		z-index: 2;
		@include margin-top(-16px, 240px, 280px);
		@include padding(24px 16px 24px 16px, 24px, 32px);
		background-color: white;

		.product__title *{
			color: $font-color-primary !important;
		}

		.product__type{
			@include margin-top(8px, 8px, 8px);
		}
		.product__description{
			@include margin-top(16px, 16px, 16px);
		}
		.product__price{
			padding-top: 24px;

			.product__price__value{
				display: inline-block;
				vertical-align: top;
				margin-right: 8px;
			}

			.product__price__information{
				display: inline-block;

				.product__price__bottleSize{
					display: block;
					padding-bottom: 4px;
				}

				.product__price__perLitre{
					display: block;
				}
			}
		}
		.product__button{
			@include small {display: none;}
			@include margin-top(24px, 32px, 32px);
		}
	}
}









.products-card {
	display: flex;
	position: relative;
	@include margin-bottom(32px, 48px, 64px);

	&.product-card--product-left{
		flex-direction: row;
		@include small {flex-direction: column;}
	}
	&.product-card--product-right{
		flex-direction: row-reverse;
		@include small {flex-direction: column;}
	}

	.product-card__background-image {
		position: absolute;
		left: 0; right: 0;
		z-index: 1;

		@include height(200px, 360px, 440px);
		@include margin-top(16px, 24px, 32px);

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.product-card__product-image{
		flex: 3.33;
		
		@include height(232px, 408px, 504px);
		position: relative;
		z-index: 3;

		img{
			height: 100%;
			margin: 0px auto;
			display: block;
			@include small {margin-right: 16px;}
		}

	}

	.product-card__content{
		flex: 6.77;

		position: relative;
		z-index: 2;
		@include margin(-16px 0 0 0, 240px 24px 0 24px, 280px 32px 0 32px);
		@include padding(24px 16px 16px 16px, 24px, 32px);
		background-color: white;

		.product__type{
			@include margin-top(8px, 8px, 8px);
		}
		.product__description{
			@include margin-top(8px, 16px, 16px);
		}
		.product__price{
			@include margin-top(24px, 24px, 24px);

			.product__price__value{
				margin-right: 8px;
			}
		}
		.product__button{
			@include small {display: none;}
			@include margin-top(24px, 32px, 32px);
		}
	}
}

