@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../assets/static/social-media-font/MonoSocialIconsFont-1.10.eot');
    src: url('../assets/static/social-media-font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../assets/static/social-media-font/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../assets/static/social-media-font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../assets/static/social-media-font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../assets/static/social-media-font/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.social-media-icon, a.social-media-icon:before {
    font-family: 'Mono Social Icons Font';
	color: white;
	padding-right: 8px;

    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.social-media-icon:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
		