section#about{
	background-color: #f2f2f2;
	@include padding(48px 0, 64px 0, 80px 0);
	
	article.about{
		background-color: white;
		@include padding-bottom(16px, 32px, 32px);

		.about-heading{
			@include padding(32px 8px 16px 8px, 64px 16px 32px 16px, 64px 16px 32px 16px);
			text-align: center;
			h2{padding-top: 16px;}
		}

		.about-text, .about-inline-image {
			@include padding(16px 8px, 32px 16px, 32px 16px);
			p {padding: 8px 0;}
		}

		.about-text{
			h3{padding-bottom: 16px;}
			a{
				text-decoration: underline;
				&:hover{
					color: $font-color-primary;
				}
			}
		}
		.about-inline-image {}
	}
}
