section#blog.index, section#blog.category{
	background-color: #f2f2f2;	

	.blog-heading{
		@include padding-top(48px, 64px, 80px);
		text-align: center;
	}

	.blog-categories{
		display: block;
		@include margin-top(40px, 56px, 72px);
		@include margin-bottom(40px, 56px, 72px);
		text-align: center;

		li{
			display: inline-block;
		}
		a{
			padding: 8px 16px;
			color: $font-color-secondary;

			&.active, &:hover{
				font-weight: bold;
				color: $font-color-primary;
			}
		}
	}

	.blog-post{
		@include margin-bottom(48px, 64px, 80px);
		background-color: white;

		
		.blog-post-image{}

		.blog-post-text{
			@include padding(32px 16px, 32px 24px, 32px);

			.blog-post-heading{
				font-size: 24px;
				margin-bottom: 16px;
			}

			.blog-post-description{
				margin-bottom: 32px;
			}
		}
	}

	.blog-pagination{
		text-align: center;
		@include margin-bottom(48px, 64px, 80px);
		a{
			padding: 8px 16px;
			color: $font-color-secondary;

			&:hover{
				font-weight: bold;
				color: $font-color-primary;
			}
		}
	}
}

section#blog.entry{
	@include padding(48px 0, 64px 0, 80px 0);
	background-color: #f2f2f2;

	article.blog-post{
		background-color: white;


		.blog-post-heading{
			@include padding(32px 8px 16px 8px, 64px 16px 32px 16px, 64px 16px 32px 16px);
			text-align: center;
			h2{padding-top: 16px;}
		}

		.blog-post-text, .blog-post-inline-image, .blog-post-button {
			@include padding(16px 8px, 32px 16px, 32px 16px);
		}

		.blog-post-text{
			h3{padding-bottom: 16px;}
			p{padding: 8px 0;}
			a{
				text-decoration: underline;
				&:hover{
					color: $font-color-primary;
				}
			}
		}

		.blog-post-inline-image {
			span{
				display: block;
				text-align: center;
				padding-top: 16px;
			}
		}

		.blog-post-button{
			text-align: center;
		}
		
		.blog-post-meta{
			@include padding(32px 8px, 64px 16px, 64px 16px);
			a:hover{
				text-decoration: underline;
			}
		}

		.blog-post-highlighted-text{
			@include padding(32px 8px, 64px 16px, 64px 16px);
			text-align: center;
			line-height: 1.4;
		}
	}
}