section#index.hero{

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	background-color: #1F2F00;

	.container{
		position: relative;
		height: 100%;
	}

	.logo{
		@include padding-top(24px, 32px, 48px,);
		text-align: center;
		
		img{
			@include height(64px, 80px, 80px);
		}
	}

	.text{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;

		h1{
			line-height: 1.4;
			padding-top: 32px;
			padding-bottom: 32px;
		}

		h1, p {
			color: white !important;	
		}
		
	}

	.button{
		@include padding-top(15%, 7%, 7%);
		text-align: center;
	}
}