section#pages{
	background-color: #f2f2f2;
	@include padding(48px 0, 64px 0, 80px 0);
	
	article{
		background-color: white;
		@include padding-bottom(16px, 32px, 32px);

		.article-heading{
			@include padding(32px 8px 16px 8px, 64px 16px 32px 16px, 64px 16px 32px 16px);
			text-align: center;
			h2{padding-top: 16px;}
		}

		.article-text, .article-inline-image {
			@include padding(16px 8px, 32px 16px, 32px 16px);
		}

		.article-text{
			h3{padding-bottom: 16px;}
			a{
				text-decoration: underline;
				&:hover{
					color: $font-color-primary;
				}
			}
		}
	}
}