section#products.index{
	background-color: #f2f2f2;
	@include padding-top(32px, 48px, 64px);

	.title{
		@include padding(32px 0 32px 0, 48px 0 48px 0, 64px 0 64px 0);
		text-align: center;

		h2{
			margin-bottom: 16px;
			@include small {font-size: 28px;}
		}
	}
}

section#products.entry{

	.product-hero, .product-facts, .text-image-block{
		@include padding(48px 0, 64px 0, 80px 0);	
	}

	.product-hero{
		@include padding-top(0px, 24px, 24px);
		background-color: #f2f2f2;
		position: relative;

		.image{
			@include height(400px, 408px, 484px);
			@include small {
				padding: 24px;
				background-color: #f2f2f2;
			}

			img{
				height: 100%;
				margin: 0px auto;
				display: block;
			}
		}
		
		.text{
			position: relative;
			
			@include height(auto, 408px, 484px);
			@include small {
				margin-top: 24px;
				text-align: center;
			}
			@include medium-and-large {
				.vertical-center{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			.product-title * {
				color: $font-color-primary;
			}
			.product-type{
				@include margin-top(8px, 8px, 8px);
			}
			.product-description{
				@include margin-top(16px, 16px, 24px);
			}
			.product-price{

				.price-info *{
					color: $font-color-tertiary !important;
					@extend .text-small;
				}

				@include small {
					margin-top: 32px;
					.price-info{margin-top: 8px;}
				}

				@include medium-and-large {
					display: flex;
					flex-direction: row;
					margin-top: 32px;	

					.price-tag, .price-info{flex: 1;}
				}
				
				.price {
					margin-right: 8px;
				}
			}
			.product-buy-button{
				text-align: center;
				@include margin-top(32px, 32px, 32px);

				@include small {
					padding-left: 60px;
					* {
						margin: 0px auto;
					}
				}
			}
		}
	}

	.product-facts{
		background-color: white;
		text-align: center;

		.fact{
			@include padding(8px 0, 16px 0, 16px 0);

			.title{
				display: block;
				padding-bottom: 4px;
			}
		}
	}

	.product-information{
		background-color: white;
	}

	.product-distillery{
		position: relative;
	}

	.text-image-block{

		&:nth-of-type(2n+1) {
			background-color: #f2f2f2;
		}

		.text-block {
			.title{
				margin-bottom: 8px;
			}
			p {
				padding: 8px 0;
			}
		}

		.image-block {
			img {
				display: block;
				margin: 0px auto;
			}
		}

		@include small {
			.image-block {
				margin-bottom: 24px;
			}
		}

		@include medium-and-large {
			.row {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			
			&.text-image-block--reverse .row {
				flex-direction: row-reverse;
			}	
		}
	}

	

}
