section#tastings.index{
	background-color: #f2f2f2;
	@include padding-top(32px, 48px, 64px);

	.title{
		@include padding(32px 0 48px 0, 48px 0 64px 0, 64px 0 96px 0);
		text-align: center;

		h2{
			@include small {font-size: 28px;}
		}
	}

	.empty-state{
		@include padding-bottom(48px, 64px, 96px);
	}

	.tasting{
		position: relative;
		@include padding-bottom(48px, 64px, 96px);
		@include min-height(248px, 424px, 496px);

		&.tasting--image-right {
			.tasting__image-container{
				right: 0;
			}			
		}

		&.tasting--image-left {
			[class*=col-] {
				float: right;
			}
		}

		.tasting__image-container{
			position: absolute;
			top: 0;
			@include height(200px, 360px, 400px);
			z-index: 1;
			background-color: black;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

		}

		.tasting__content-container{
			position: relative;
			background-color: white;
			z-index: 3;
			@include margin-top(16px, 24px, 32px);
			@include padding(16px, 24px, 32px);
			@include small {
				margin-top: 152px;
			}
		}

		.tasting__headline *{
			color: $font-color-primary !important;
		}

		.tasting__subheadline{
			@include margin-top(8px, 8px, 8px);
		}

		.tasting__description{
			@include margin-top(8px, 8px, 8px);
		}

		.tasting__additionalDescription{
			display: none;
		}

		.tasting__description p, .tasting__additionalDescription p{
			@include padding(8px 0, 8px 0, 8px 0);
		}

		.tasting__show-more-toggle{
			cursor: pointer;
			display: block;
			@include margin-top(8px, 8px, 8px);
			color: $font-color-secondary;
			text-decoration: underline;
		}

		.tasting__price-container{
			@include margin-top(24px, 24px, 24px);

			.tasting__price__value{
				margin-right: 8px;
			}
		}

		.tasting__buy-button{
			@include margin-top(24px, 32px, 32px);
		}
	}
}