{% extends '_layout' %}

{% block content %}
	<section id="tastings" class="index">
		
		<div class="container">
			
			<div class="title row">
				<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<h2>Entdecke unsere Tastings</h2>
				</div>
			</div>

			{% set i = 0 %}
			{% set tastings = craft.entries.section('tastings') %}

			{% if tastings|length == 0 %}
				<div class="row empty-state">
					<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-align-center">
						{% set emptyState = craft.entries.section('modules').slug('tastings-empty-state').first() %}
						{{ emptyState.moduleText }}
					</div>
				</div>
			{% else %}

				{% for tasting in tastings %}

					{% if i is divisible by(2) %}
						<div class="tasting tasting--image-left row">
					{% else %}
						<div class="tasting tasting--image-right row">
					{% endif %}
					
						<div class="tasting__content-container col-sm-11 col-md-7 col-lg-7">
							<h2 class="tasting__title">
								{{ tasting.tastingHeadline }}
							</h2>
							
							<div class="tasting__subheadline text-tertiary">
								{{ tasting.tastingSubheadline }}
							</div>
							
							<div class="tasting__description">
								{{ tasting.tastingDescription }}
							</div>

							<div class="tasting__additionalDescription">
								{{ tasting.tastingAdditionalDescription }}
							</div>

							<span class="tasting__show-more-toggle" onclick="toggleAdditionalInformation(event)">Mehr Informationen</span>
							
							<div class="tasting__price-container">
								<span class="tasting__price__value text-large">{{ tasting.tastingPrice }}</span>
								<span class="tasting__price__amount text-tertiary">Pro Person</span>
							</div>

							<div class="tasting__buy-button">
								{{ tasting.tastingShopifyBuyButton|raw }}
							</div>
						</div>
						
						<div class="tasting__image-container col-sm-11 col-md-7 col-lg-7" style="background-image: url('{{ tasting.tastingImage.first().url }}');">
						</div>
					</div>
					{% set i = i + 1 %}
				{% endfor %}
			{% endif %}

		</div>
	</section>

	{% include 'layout/banner' with {'slug': 'whiskys-banner'} %}
	
{% endblock %}

{% block scripts %}
	<script>
		function toggleAdditionalInformation(event) {
			$link = $(event.target).first();
			$additionalInformation = $link.siblings('.tasting__additionalDescription');

			// Toggle visibility of additional information
			$additionalInformation.toggle(); 

			// Change text of link
			if($additionalInformation.css('display') == 'block') {
				$link.text("Weniger Informationen")
			} else {
				$link.text("Mehr Informationen")
			}
		}
	</script>
{% endblock %}
