{% set banner = craft.entries.section('modules').slug(slug).first() %}

<section class="banner" style="background-image: url({{ banner.moduleImage.first().url }});">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<h2 class="banner__headline">{{ banner.moduleHeadline }}</h2>
				<div clas="banner__text">{{ banner.moduleText }}</div>
				<a href="{{ banner.moduleButtonTarget|raw }}" class="btn btn-white btn-large">{{ banner.moduleButtonText }}</a>
			</div>
		</div>
	</div>
</section>
