<link rel="stylesheet" type="text/css" href="/styles/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#ffffff",
      "text": "#757575"
    },
    "button": {
      "background": "#212121",
      "text": "#ffffff"
    }
  },
  "content": {
    "message": "Wir benutzen Cookies um Dir die bestmögliche Erfahrung zu bieten! Mit der weiteren Nutzung der Website stimmst Du dieser Verwendung zu und bestätigst, dass du über 18 Jahre alt bist.",
    "dismiss": "Einverstanden!",
    "link": "Mehr erfahren",
    "href": "/pages/datenschutzerklärung"
  }
})});
</script>