<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4 col-lg-4">
				<ul class="link-list">
					<li><strong class="title">Social Media</strong></li>
					{% set socialmedialinks = craft.entries.section('socialMedia') %}
					{% for socialmedialink in socialmedialinks %}
						<li>
							<a href="{{ socialmedialink.socialMediaTarget }}" target="_blank">
								<span class='social-media-icon'>{{ socialmedialink.socialMediaIcon }}</span>
								{{ socialmedialink.title }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<ul class="link-list">
					<li><strong class="title">Weitere Informationen</strong></li>
					{% set pages = craft.entries.section('pages') %}
					{% for page in pages %}
						<li><a href="{{ page.url }}">{{ page.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-12 col-md-4 col-lg-4">
				<ul class="link-list">
					<li><strong class="title">Sitemap</strong></li>
					<li><a href="/products/">Whiskys</a></li>
					<li><a href="/tastings/">Tastings</a></li>
					<li><a href="/about/">Über Uns</a></li>
					<li><a href="/blog/">Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>