<section id="newsletter">

	{% set newsletter = craft.entries.section('modules').slug('newsletter').first() %}

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<h2 class="newsletter__headline">{{ newsletter.moduleHeadline }}</h2>
				<div class="newsletter__text">{{ newsletter.moduleText }}</div>
			</div>
		</div>
		<div class="row">
			<!-- Begin MailChimp Signup Form -->
			<form action="//myshopify.us15.list-manage.com/subscribe/post?u=415f96b76f13c65c0c3c566ac&amp;id=2a8bdc987d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div class="col-sm-8 col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-2">
					<input type="email" id="mce-EMAIL" placeholder="E-Mail Adresse" name="EMAIL" required="true">
				</div>
				<div class="col-sm-4 col-md-2 col-lg-2">
					<input type="submit" value="Anmelden" name="subscribe" id="mc-embedded-subscribe">
				</div>

				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    	<div style="position: absolute; left: -5000px;" aria-hidden="true">
		    		<input type="text" name="b_415f96b76f13c65c0c3c566ac_2a8bdc987d" tabindex="-1" value="">
		    	</div>
			</form>

		</div>
	</div>
</section>
