{% extends '_layout' %}

{% block content %}
	{% set page = entry %}
	<section id="pages">
		<div class="container">
			<article>
				<div class="row">
					<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
						<div class="article-heading">
							<span class="text-tertiary">Weitere Informationen</span>
							<h2>{{ page.title }}</h2>
						</div>

						{% for block in page.pageContent %}
							{% if block.type == "text" %}
								<div class="article-text">
									{{ block.text }}
								</div>
							{% endif %}
							
							{% if block.type == "image" %}
								<div class="article-image">
									<img src="{{ block.image.first().url }}" alt="{{ block.imageAlternativeText }}">
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</article>
		</div>	
	</section>
{% endblock %}