{% extends '_layout' %}

{% block content %}

	<section id="blog" class="category">
		<div class="container">

			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<h1 class="blog-heading">
						Blog
					</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<ul class="blog-categories">
						<li><a href="/blog/">Alle Einträge</a></li>
						{% for _category in craft.categories.group('blogCategories') %}	
							{% if category.id == _category.id %}
								<li><a class="active" href="{{ _category.url }}">{{ _category.title }}</a></li>
							{% else %}
								<li><a href="{{ _category.url }}">{{ _category.title }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>

			{% paginate craft.entries.section('blog').relatedTo(category).limit(10) as pageInfo, posts %}

			{% for post in posts %}
				<div class="row">
					<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
						<article class="blog-post">
							{% if post.blogPostImage|length %}
								<img class="blog-post-image" src="{{ post.blogPostImage.first().url }}" alt="">
							{% endif %}
							

							<div class="blog-post-text">
								<h2 class="blog-post-heading">{{ post.title }}</h2>
								<p class="blog-post-description">{{ post.blogPostDescription }}</p>

								<a class="blog-post-button btn btn-primary" href="{{ post.url }}">Weiterlesen</a>	
							</div>
						</article>	
					</div>
				</div>
			{% endfor %}

			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="blog-pagination">
						{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Vorherige Seite</a>{% endif %}
						{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Nächste Seite</a>{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}