{% extends '_layout' %}

{% block content %}
	
	<section id="blog" class="entry">
		<div class="container">
			
			<article class="blog-post">
				

				{% if entry.blogPostImage|length %}
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12" style="padding:0;">
							<div class="blog-post-intro-image">
								<img src="{{ entry.blogPostImage.first().url }}" alt="{{ entry.title - Bild}}">
							</div>		
						</div>
					</div>
				{% endif %}

				<div class="row">
					<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

						<div class="blog-post-heading">
							<span class="text-tertiary"><a href="/blog/">Blog</a></span>
							<h2>
								{{ entry.title }}
							</h2>
						</div>


						{% for block in entry.blogPostContent %}
							{% if block.type == "text" %}
								<div class="blog-post-text">
									{{ block.text }}
								</div>
							{% endif %}
							
							{% if block.type == "textWithHeading" %}
								<div class="blog-post-text">
									<h3>{{ block.heading }}</h3>	
									{{ block.text }}
								</div>
							{% endif %}

							{% if block.type == "image" %}
								<div class="blog-post-inline-image">
									<img src="{{ block.image.first().url }}" alt="{{ block.alternativeText }}">
									<span class="text-tertiary">{{ block.text }}</span>
								</div>
							{% endif %}

							{% if block.type == "highlightedText" %}
								<div class="blog-post-highlighted-text">
									<h3>{{ block.text }}</h3>
								</div>
							{% endif %}

							{% if block.type == "button" %}
								<div class="blog-post-button">
									<a class="btn btn-primary" href="{{ block.target}}">{{ block.text }}</a>
								</div>
							{% endif %}
						{% endfor %}

						<div class="blog-post-meta">
							{% set categories = craft.categories.relatedTo(entry) %}
							<p>
								Kategorien:
								{% for category in categories %}
									<a href="{{ category.url }}">{{ category.title }} </a>
								{% endfor %}
							</p>
							<p>Veröffentlicht am: {{ entry.postDate | date("d M Y") }}</p>
						</div>
					</div>
				</div>
			</article>
		</div>

	</section>

{% endblock %}