{#
 # Layout template
 # ---------------
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="DE">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="home" href="{{ siteUrl }}" />

	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

	<link rel="stylesheet" href="/styles/main.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Karla|Playfair+Display" rel="stylesheet">

	<!-- SEOmatic -->
	{% hook 'seomaticRender' %}
</head>
<body>
	{% include 'layout/cookies.html' %}
	
	<header class="transparent">
		<nav class="topnav" id="topnav" role="navigation">
			<div class="container">
				<ul>
					<li class="nav__icon"><a href="javascript:void(0);" onclick="toggleTopNav()">&#9776;</a></li>
					<li class="nav__logo"><a href="/products/"><img src="/assets/static/logo_9whisky_lang.png" alt="Logo 9Whisky"></a></li>
					<li class="nav__item"><a href="/products/">Whiskys</a></li>
					<li class="nav__item"><a href="/tastings/">Tastings</a></li>
					<li class="nav__item"><a href="/about/">Über Uns</a></li>
					<li class="nav__item"><a href="/blog/">Blog</a></li>
				</ul>
			</div>
		</nav>	
	</header>

	<main role="main">
		{% block content %}{% endblock %}
	</main>
	
	{% include 'layout/newsletter.html' %}
	{% include 'layout/footer.html' %}


	<!-- Scripts -->
	<script src='/scripts/jquery-3.2.1.min.js'></script>

	<!-- Responsive Nav -->
	<script type="text/javascript">
		function toggleTopNav() {
		    var topnav = document.getElementById("topnav");
		    if (topnav.className === "topnav") {
		        topnav.className += " topnav--open";
		    } else {
		        topnav.className = "topnav";
		    }
		}
	</script>

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*newDate();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-91781168-1', 'auto');ga('send', 'pageview');
	</script>

	{% block scripts %}{% endblock %}

</body>
</html>
