{% extends '_layout' %}

{% block content %}
	
	<section id="about">
		<div class="container">

			<article class="about">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
							<div class="about-heading">
								<span class="text-tertiary"><a href="/blog/">Über Uns</a></span>
								<h2>
									{{ entry.title }}
								</h2>	
							</div>
							
							{% for block in entry.aboutContent %}
								{% if block.type == "text" %}
									<div class="about-text">
										{{ block.text }}
									</div>
								{% endif %}
								
								{% if block.type == "image" %}
									<div class="about-inline-image">
										<img src="{{ block.image.first().url }}" alt="{{ block.alternativeText }}">
									</div>
								{% endif %}

							{% endfor %}
						</div>
					</div>
				</div>
			</article>
			
	</section>

{% endblock %}