{% extends "_layout" %}

{% block content %}

	<section id="index" class="hero" style="background-image: url(' {{ entry.indexBackgroundImage.first().url }} ')">
		<div class="container">
			<div class="logo">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<img src="/assets/static/logo/logo-white.png" alt="9Whisky Logo">
					</div>	
				</div>
			</div>
			<div class="text">
				<div class="row">
					<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
						<h1>{{ entry.indexHeading }}</h1>
						<p>{{ entry.indexText }}</p>	

						<div class="button">
							<a href="products/" class="btn btn-white btn-large">
								{{ entry.indexButtonText }}
							</a>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
