$breakpoint-small-medium: 720px;
$breakpoint-medium-large: 960px;

@mixin small {
	@media (max-width: #{$breakpoint-small-medium - 1px}) {
		@content;
	}
}

@mixin medium {
	@media (min-width: #{$breakpoint-small-medium}) and (max-width: #{$breakpoint-medium-large - 1px}) {
		@content;
	}
}

@mixin medium-and-large {
	@media (min-width: #{$breakpoint-small-medium}) {
		@content;
	}
}

@mixin large {
	@media (min-width: #{$breakpoint-medium-large}) {
		@content;
	}
}

@mixin clearfix() {
	&::after{
		content: "";
		display: table;
		clear: both; 
	}
}

@mixin responsive-attribute($attribute, $sm, $md, $lg) {
	@include small {
		#{$attribute}: $sm;
	}
	@include medium {
		#{$attribute}: $md;
	}
	@include large {
		#{$attribute}: $lg;
	}
}

@mixin height($sm, $md, $lg) {
	@include responsive-attribute('height', $sm, $md, $lg);
}
@mixin max-height($sm, $md, $lg) {
	@include responsive-attribute('max-height', $sm, $md, $lg);
}
@mixin min-height($sm, $md, $lg) {
	@include responsive-attribute('min-height', $sm, $md, $lg);
}
@mixin width($sm, $md, $lg) {
	@include responsive-attribute('width', $sm, $md, $lg);
}

@mixin padding($sm, $md, $lg) {
	@include responsive-attribute('padding', $sm, $md, $lg);
}
@mixin padding-top($sm, $md, $lg) {
	@include responsive-attribute('padding-top', $sm, $md, $lg);
}
@mixin padding-right($sm, $md, $lg) {
	@include responsive-attribute('padding-right', $sm, $md, $lg);
}
@mixin padding-bottom($sm, $md, $lg) {
	@include responsive-attribute('padding-bottom', $sm, $md, $lg);
}
@mixin padding-left($sm, $md, $lg) {
	@include responsive-attribute('padding-left', $sm, $md, $lg);
}

@mixin margin($sm, $md, $lg) {
	@include responsive-attribute('margin', $sm, $md, $lg);
}
@mixin margin-top($sm, $md, $lg) {
	@include responsive-attribute('margin-top', $sm, $md, $lg);
}
@mixin margin-right($sm, $md, $lg) {
	@include responsive-attribute('margin-right', $sm, $md, $lg);
}
@mixin margin-bottom($sm, $md, $lg) {
	@include responsive-attribute('margin-bottom', $sm, $md, $lg);
}
@mixin margin-left($sm, $md, $lg) {
	@include responsive-attribute('margin-left', $sm, $md, $lg);
}
