.container{
	margin: 0px auto;
	
	@include small {
		margin-left: 8px;
		margin-right: 8px;
	}
	@include medium {max-width: 720px;}
	@include large {max-width: 960px;}
}


.row{

	&:after{
		content: '';
		clear: both;
		display: table;
	}

	[class*=col-] {
		float: left;
		padding-left: 16px;
		padding-right: 16px;
	}
}



	
@include small {
	@for $i from 1 to 13 {
		.col-sm-#{$i} {
			width: (100% / 12) * $i;
		}
		.col-sm-offset-#{$i} {
			margin-left: (100% / 12) * $i;
		}	
	}

	.col-sm-hidden {
		display: none;
	}
}

@include medium {
	@for $i from 1 to 13 {
		.col-md-#{$i} {
			width: (100% / 12) * $i;
		}
		.col-md-offset-#{$i} {
			margin-left: (100% / 12) * $i;
		}	
	}

	.col-md-hidden {
		display: none;
	}
}

@include large {
	@for $i from 1 to 13 {
		.col-lg-#{$i} {
			width: (100% / 12) * $i;
		}
		.col-lg-offset-#{$i} {
			margin-left: (100% / 12) * $i;
		}	
	}

	.col-lg-hidden {
		display: none;
	}
}