// Base Font
$base-font-family: 'Karla', sans-serif;
$base-font-weight: 400;
$base-font-size: 18px;
$base-line-height: 1.4;

// Accent
$accent-font-family: 'Playfair Display', serif;
$accent-line-height: $base-line-height;

// Font Colors
$font-color-primary: rgba(0, 0, 0, 0.87);
$font-color-secondary: rgba(0, 0, 0, 0.54);
$font-color-tertiary: rgba(0, 0, 0, 0.38);

* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	color: $font-color-primary;
}

@include small {
	body{font-size: 16px;}
	h1 {font-size: 30px;}
	h2 {font-size: 24px;}
	h3 {font-size: 20px;}
	.text-large{font-size: 20px;}
	small, .text-small{font-size: 14px;}
}

@include medium {
	body{font-size: 16px;}
	h1 {font-size: 36px;}
	h2 {font-size: 30px;}
	h3 {font-size: 24px;}
	.text-large{font-size: 20px;}
	small, .text-small{font-size: 14px;}
}

@include large {
	body{font-size: 18px;}
	h1 {font-size: 40px;}
	h2 {font-size: 36px;}
	h3 {font-size: 24px;}
	.text-large{font-size: 24px;}
	small, .text-small{font-size: 16px;}
}


h1, h2, h3{
	font-family: $accent-font-family;
	line-height: 1.25;
}

h4{
	font-weight: 600;
}

p{
	color: $font-color-secondary;
	line-height: 1.4;
}

i, em{
	font-style: italic;
}

b, strong{
	font-weight: 600;
}

.text-primary{
	color: $font-color-primary;
}

.text-secondary{
	color: $font-color-secondary;	
}

.text-tertiary{
	color: $font-color-tertiary;	
}

.text-uppercase{
	text-transform: uppercase;
}

.text-align-center{
	text-align: center;
}

a{
	text-decoration: inherit;
	color: inherit;
	display: inline-block;
}

.btn{
	display: inline-block;
	padding: 12px 16px;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}

.btn-primary{
	background-color: rgba(0, 0, 0, 0.87);
	color: rgba(255, 255, 255, 1);
}

.btn-white{
	background-color: white;
	color: rgba(0, 0, 0, 0.87);
}

.btn-large{
	padding: 20px 32px;
}