// Background Colors
$background-color-white: #ffffff;

// Base Font
$base-font-family: 'Karla', sans-serif;
$base-font-weight: 400;
$base-font-size: 18px;
$base-line-height: 1.4;

// Accent
$accent-font-family: 'Nunito', sans-serif;
$accent-line-height: $base-line-height;

// Font Colors
$font-color-primary: rgba(0, 0, 0, 0.87);
$font-color-secondary: rgba(0, 0, 0, 0.54);
$font-color-tertiary: rgba(0, 0, 0, 0.38);

